In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import networkx as nx

In [4]:
#read in group_edges.csv to pd dataframe from github repo
group_edges = pd.read_csv("https://raw.githubusercontent.com/ebhtra/gory-graph/main/NashvilleSocial/group-edges.csv")
group_edges.head(5)

   Unnamed: 0    group1    group2  weight
0           0  19292162    535553       2
1           1  19292162  19194894       1
2           2  19292162  19728145       1
3           3  19292162  18850080       2
4           4  19292162   1728035       1

In [6]:
#read in group_edges.csv to pd dataframe from github repo
member_edges = pd.read_csv("https://raw.githubusercontent.com/ebhtra/gory-graph/main/NashvilleSocial/member-edges.csv")
member_edges.head(5)

   Unnamed: 0    member1    member2  weight
0           0  198737924  220654721       1
1           1  198737924  208201738       1
2           2  198737924   88664332       1
3           3  198737924    8640526       1
4           4  198737924   56356372       1

In [7]:
#read in member_to_group_edges.csv to pd dataframe from github repo
mem2grp_edges = pd.read_csv("https://raw.githubusercontent.com/ebhtra/gory-graph/main/NashvilleSocial/member-to-group-edges.csv")
mem2grp_edges.head(5)

   member_id  group_id  weight
0       2069  19277993       3
1     625050  19277993       2
2    1939496  19277993       1
3    2606806  19277993       4
4    3438546  19277993       1

In [11]:
#read in meta-events.csv to pd dataframe from github repo
meta_events = pd.read_csv("https://raw.githubusercontent.com/ebhtra/gory-graph/main/NashvilleSocial/meta-events.csv")
meta_events.head(5)

,event_id,group_id,name,time
0,243930425,26140018,2017 Nashville Walk to End Alzheimers - Octob...,2017-10-14 12:00:00
1,244208851,25604533,Steak Dinner on the Patio,2017-10-15 00:15:00
2,pxlktnywnbfb,25973656,Schedule Meetup,2017-10-03 23:30:00
3,244444551,18571126,"Happy Hour Wednesday, Jonathan's Green Hills, ...",2017-10-25 22:30:00
4,244257722,18571126,"Happy Hour Wednesday, Brentwood, Oct. 18",2017-10-18 22:30:00

In [10]:
#read in meta-groups.csv to pd dataframe from github repo
meta_groups = pd.read_csv("https://raw.githubusercontent.com/ebhtra/gory-graph/main/NashvilleSocial/meta-groups.csv")
meta_groups.head(5)

,group_id,group_name,num_members,category_id,category_name,organizer_id,group_urlname
0,339011,Nashville Hiking Meetup,15838,23,Outdoors & Adventure,4353803,nashville-hiking
1,19728145,Stepping Out Social Dance Meetup,1778,5,Dancing,118484462,steppingoutsocialdance
2,6335372,Nashville soccer,2869,32,Sports & Recreation,108448302,Nashville-soccer
3,10016242,NashJS,1975,34,Tech,8111102,nashjs
4,21174496,20's & 30's Women looking for girlfriends,2782,31,Socializing,184580248,new-friends-in-Nashville

In [12]:
#read in meta-members.csv to pd dataframe from github repo
meta_members = pd.read_csv("https://raw.githubusercontent.com/ebhtra/gory-graph/main/NashvilleSocial/meta-members.csv")
meta_members.head(5)

,member_id,name,hometown,city,state,lat,lon
0,2069,Wesley Duffee-Braun,Brentwood,Brentwood,TN,36.00,-86.79
1,8386,Tim,Nashville,Nashville,TN,36.07,-86.78
2,9205,Brenda,Brentwood,Brentwood,TN,36.00,-86.79
3,17903,Steve,NaN,Nashville,TN,36.13,-86.80
4,20418,Andrea Reynolds,"Huntington, WV",Nashville,TN,36.17,-86.72

In [13]:
#read in rsvps.csv to pd dataframe from github repo
rsvps = pd.read_csv("https://raw.githubusercontent.com/ebhtra/gory-graph/main/NashvilleSocial/rsvps.csv")
rsvps.head(5)

   Unnamed: 0      event_id  member_id  group_id
0           0     243930425    6770985  26140018
1           1     244208851  234724627  25604533
2           2  pxlktnywnbfb  199563568  25973656
3           3  pxlktnywnbfb  208888939  25973656
4           4     244444551    1720391  18571126

Name:
Type: Graph
Number of nodes: 896305
Number of edges: 3782454
Average degree:   8.4401

True
There are 1 connected subgraphs in this graph.

[<networkx.classes.graph.Graph object at 0x000001716AF8D848>]